name: Deploy to VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: server.awtza.com          # 或直接写你的IP
          username: ubuntu
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/fr
            git pull origin main
